@import 'styles/global-settings';

.paginationBlock {
  display: flex;
  flex-wrap: wrap;

  span {
    padding: 5px;
  }
}

.paginationBlockList {
  display: flex;
  list-style-type: none;

  li {
    cursor: pointer;

    a {
      display: inline-block;
      padding: 5px 10px;
    }

    &:hover {
      color: $primary-dark-blue;
    }
  }
}

.paginationBlockListItemActive {
  color: $primary-red;
}
