@import 'styles/global-settings';

.leftNavBlock {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 20px;

  @include for-phone-only {
    justify-content: center;
    width: 100%;
  }

  @include for-tablet-portrait-up {
    width: 25%;
  }

  @include for-desktop-up {
    width: 24%;
  }

  h2 {
    margin: 0 0 40px 0;

    @include for-phone-only {
      text-align: center;
      font-size: 16px;
    }

    @include for-tablet-portrait-up {
      font-size: 22px;
    }

    @include for-desktop-up {
      font-size: 28px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    @include for-phone-only {
      text-align: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.leftNavBlockLink {
  text-decoration: none;
  font-size: 20px;
  color: $primary-gray;
  padding: 0 0 10px;

  &:hover {
    color: $primary-blue;
  }

  @include for-phone-only {
    font-size: 16px;
  }

  @include for-tablet-portrait-up {
    font-size: 18px;
  }

  @include for-desktop-up {
    font-size: 20px;
  }
}

.leftNavBlockLinkActive {
  font-weight: bold;
  color: $primary-green;
}
