@import 'styles/global-settings';

.searchPackagesResultBlock {
  display: flex;
  flex-direction: column;
}

.searchPackagesResultBlockCards {
  display: flex;
  flex-wrap: wrap;
}

.searchPackagesResultBlockSorting {
  display: inline-block;
  width: 200px;
  margin: 10px 10px 20px 10px;
}
