@import 'styles/global-settings';

.mainBlock {
  display: flex;

  @include for-phone-only {
    flex-direction: column;
  }
}

.mainBlockContainer {
  display: flex;
  flex: 1 1;
  padding: 40px 20px;

  @include for-phone-only {
    padding: 20px;
  }
}

.mainPageBlock {
  flex: 1 1;
  max-width: 833px;

  @include for-phone-only {
    max-width: 100%;
  }

  @include for-tablet-portrait-up {
    max-width: 100%;
  }

  @include for-desktop-up {
    max-width: 833px;
  }

  h3 {
    color: $primary-green;
    margin: 0 0 20px;
  }
}
