@import 'styles/global-settings';

.loadingDataBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingDataBlockLoading {
  display: flex;
  border-left: 16px solid #B2BEB5;
  border-right: 16px solid #B2BEB5;
  border-bottom: 16px solid #B2BEB5;
  border-top: 16px solid $primary-blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
