// reusable sass variables

$primary-color: #F4F3F2;
$primary-red: #ef5734;
$primary-blue: #00acee;
$primary-dark-blue: #2188b6;
$primary-gray: #B2BEB5;
$primary-gray-dark: #999;
$primary-green: #2baf2b;
$primary-text-color: #543729;
